.item {
  margin-bottom: 20px;
}

.itemImg {
  width: 100px;
  height: 100px;
  margin: 10px;
  border: 1px solid white;
  border-radius: 8px;
}

.itemBox {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  align-items: center;
  margin-left: 100px;
  box-shadow: 0 0px 4px rgb(0 0 0 / 48%);
  border-radius: 8px;
}

.btnContainer {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.425);
  border-radius: 8px;
}

.btnContainer > button {
  border: none;
  background: transparent;
  color: rgba(0, 0, 0, 0.459);
  font-size: 20px;
}

.btnBox {
  width: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btnBox > p {
  opacity: 0.7;
}

.itemInfo {
  max-width: 400px;
  margin-left: 20px;
}

.itemInfo > h5 {
  max-width: 300px;
  text-align: center;
  opacity: 0.8;
}

.itemInfo > p {
  width: 350px;
  overflow-y: auto;
  max-height: 150px;
}

.itemInfo > p::-webkit-scrollbar {
  width: 10px;
}

.itemInfo > p::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
  border: 1px solid white;
}

.itemInfo > p::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}

.itemInfo > h5 {
  display: flex;
  justify-content: center;
}

.itemPrice {
  display: grid;
  justify-items: end;
  width: 100px;
  margin-right: 10px;
  opacity: 0.7;
}

.itemInput {
  width: auto;
  margin-left: 24px;
  margin-right: 16px;
  transform: scale(1.8);
}

.itemDescr {
  opacity: 0.5;
}

.itemText {
  opacity: 0.8;
}

.btnTrash {
  border: none;
  background: transparent;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  margin-right: 20px;
  margin-left: 20px;
}

.btnTrash:hover {
  color: black;
}

.countText {
  color: rgba(0, 0, 0, 0.438);
  font-size: 20px;
  margin: 0;
}
