.formSignIn {
  display: flex;
  flex-direction: column;
  margin-left: 300px;
}

.form_container {
  display: flex;
  align-items: center;
  width: auto;
  background: linear-gradient(
      rgba(255, 255, 255, 0.089),
      rgba(255, 255, 255, 0.24)
    ),
    url(../../../images/dog_1.jpg) no-repeat;
  background-position: left;
  background-size: inherit;
}

.form_container p {
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
}

.formSignIn button {
  border-radius: 8px;
  width: 150px;
  align-self: center;
  margin-top: 4px;
  background-color: rgba(17, 28, 51, 0.2);
  padding: 4px;
  color: white;
}

.formSignIn button:hover {
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
}

.errorMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.error {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 300px;
}

.errorMessage > img {
  position: absolute;
  bottom: -10px;
}

.errorBtn {
  border: 1px solid black;
  border-radius: 8px;
  width: auto;
  align-self: center;
  margin-top: 14px;
  padding: 4px;
  color: black;
}

.errorBtn:hover {
  box-shadow: 0 0 10px 5px rgba(17, 28, 51, 0.9);
}
