.formSignIn {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 400px;
}

.form_container p {
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin: 0;
}

.formSignIn button {
  border: 1px solid wheat;
  border-radius: 8px;
  width: 150px;
  align-self: center;
}

.formSignIn button:hover {
  box-shadow: 0 0 5px 2px wheat;
}