.wr {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}

.img {
  width: 500px;
  height: 500px;
  margin-bottom: 30px;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 0 30px 4px black;
  padding: 6px;
}

.infoBox {
  border: 1px solid black;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 4px;
}

.infoTitle {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.info > span {
  color: black;
  font-weight: 500;
}

.id {
  font-style: italic;
  font-weight: 100;
  opacity: 0.5;
  margin-bottom: 40px;
}

.priceAndBtn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.btn {
  display: flex;
  gap: 20px;
}

.btn > button {
  cursor: pointer;
  background-color: rgba(17, 28, 51, 0.9);
  color: white;
  border: 1px solid white;
  border-radius: 8px;
  padding: 4px;
  margin-top: 8px;
}

.btn > button:hover {
  box-shadow: 0 0 4px 1px rgba(17, 28, 51, 0.9);
}

.btn > button:disabled {
  background-color: gray;
}

.priceBox {
  display: flex;
}

.price {
  text-decoration: line-through;
  opacity: 0.5;
}

.discount {
  font-size: 24px;
  font-weight: 600;
}

span {
  color: white;
  font-weight: 500;
}

.description {
  max-width: 500px;
  max-height: 500px;
}

.title {
  min-width: 500px;
  max-width: 500px;
}

.commentsBox {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.test {
  display: flex;
  justify-content: center;
}

.commentsInput {
  width: 700px;
  height: 100px;
}

.formComment {
  display: flex;
  gap: 10px;
  align-items: baseline;
}

.stock > span {
  color: black;
}

.wight > span {
  color: black;
}

.descriptionTitle > span {
  color: black;
}

.reviews {
  display: flex;
  justify-content: center;
  margin: 20px;
}
