.itemImg {
  height: 200px;
  width: 200px;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 0 8px 1px black;
  margin: 15px;
  padding: 4px;
}

.item {
  display: grid;
  justify-content: center;
  border-radius: 10px;
  width: 250px;
  padding: 10px;
  background-color: rgba(130, 132, 138, 0.671);
  color: white;
  height: -webkit-fill-available;
  position: relative;
  box-shadow: 0 0 8px 1px black;
}

.disc {
  border: 1px solid;
  border-radius: 50%;
  padding: 4px;
  position: absolute;
  bottom: 60px;
  right: 20px;
  font-size: 16px;
}

.sale {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 36px;
  right: -13px;
}

.itemButton {
  border-radius: 8px;
  height: 30px;
  width: auto;
  margin-top: 10px;
  border: none;
}

.itemButton:hover {
  box-shadow: 0 0 6px 0 rgb(0, 0, 0);
}

.itemButton:disabled {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.3);
}

p {
  margin-bottom: 4px;
  margin-left: 20px;
}

span {
  color: white;
}

.blockBtn {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
}

.nameProduct {
  text-align: center;
  color: white;
  height: 50px;
  padding-top: inherit;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

.itemPrice {
  color: rgb(0, 0, 0);
  display: flex;
  gap: 10px;
  margin-left: 20px;
  text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

.itemPrice > h6 {
  color: rgba(255, 255, 255, 0.5);
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

.priceOld > span {
  text-decoration: line-through black 1px;
  color: rgba(255, 255, 255, 0.5);
}
