.itemImg {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px white;
  margin: 15px;
}

.item {
  display: grid;
  justify-content: center;
  border-radius: 10px;
  width: 250px;
  padding: 10px;
  background-color: rgb(13, 30, 66);
  color: white;
}

.itemButton {
  border-radius: 8px;
  height: 30px;
  width: auto;
  margin-top: 10px;
}

.itemButton:hover {
  box-shadow: 0 0 6px 0 white;
}

p {
  margin-bottom: 4px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

span {
  color: white;
}

.blockBtn {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
}

.nameProduct {
  text-align: center;
  color: white;
  height: 46px;
}

.itemPrice {
  color: rgb(0, 255, 34);
}
