.fullScreen {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.fullScreenVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fullScreenBody {
  padding: 50px 15px;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.fullScreenTitle {
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 20px;
  margin: 0 0 20px 0;
  color: white;
}

.fullScreenText {
  font-size: 20px;
  letter-spacing: 6px;
  color: rgba(255, 255, 255, 0.4);
}

.span {
  font-size: 66px;
  color: rgba(255, 255, 255, 0.4);
}
