.wr {
  background: white;
  position: sticky;
  top: 0;
  box-shadow: 0 0 8px 20px white;
  z-index: 1;
}

.headerLink {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 20px;
  margin-top: 15px;
}

.logoImg {
  height: 80px;
  width: 80px;
}

.headerUl {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-right: 20px;
}

.btn {
  border: 2px solid white;
  border-radius: 10px;
  background-color: rgba(17, 28, 51, 0.9);
  padding: 5px;
  color: white;
}

.btn:hover {
  box-shadow: 0 0 10px 5px rgba(17, 28, 51, 0.9);
}

.btn a {
  color: white;
}

.activeLink {
  opacity: 0.4;
}

.productsLink {
  align-self: center;
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px;
  height: 100%;
  background-color: rgba(17, 28, 51, 0.9);
}

.productsLink > a {
  color: white;
}

.productsLink li a {
  color: white;
}

.productsLink:hover {
  box-shadow: 0 0 10px 5px rgba(17, 28, 51, 0.9);
}

.exitBtn {
  border: 2px solid white;
  border-radius: 10px;
  background-color: rgba(17, 28, 51, 0.9);
  padding: 5px;
  color: white;
}

.exitBtn:hover {
  box-shadow: 0 0 10px 5px rgba(17, 28, 51, 0.9);
}

.cart {
  font-size: 18px;
  border: 1px solid rgba(17, 28, 51, 0.9);
  border-radius: 8px;
  background: transparent;
  padding: 4px;
}

.cart a {
  color: rgba(17, 28, 51, 0.9);
}

.headerLeft {
  display: flex;
  gap: 20px;
}
