.wr {
  position: sticky;
  top: 0;
  box-shadow: 0 0 10px 14px rgb(255, 255, 255);
  z-index: 1;
  background: linear-gradient(rgb(83, 83, 83), rgb(255, 255, 255));
}

.headerLink {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 20px;
  margin-top: 4px;
  margin-bottom: 8px;
}

.logoImg {
  height: 100px;
  width: 100px;
}

.headerUl {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-right: 20px;
}

.btn {
  border: 1px solid white;
  border-radius: 8px;
  background-color: rgba(17, 28, 51, 0.6);
  padding: 4px;
  color: white;
}

.btn:hover {
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
}

.btn a {
  color: white;
}

.activeLink {
  opacity: 0.4;
}

.productsLink {
  align-self: center;
  border: 1px solid white;
  border-radius: 8px;
  background-color: rgba(17, 28, 51, 0.6);
  padding: 4px;
  color: white;
  height: 100%;
}

.productsLink > a {
  color: white;
}

.productsLink li a {
  color: white;
}

.productsLink:hover {
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
}

.exitBtn {
  border: 1px solid white;
  border-radius: 8px;
  background-color: rgba(17, 28, 51, 0.6);
  padding: 4px;
  color: white;
}

.exitBtn:hover {
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
}

.cart {
  font-size: 16px;
  background: transparent;
  border: 1px solid white;
  border-radius: 8px;
  background-color: rgba(17, 28, 51, 0.6);
  padding: 4px;
}

.cart a {
  color: white;
}

.cart:hover {
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
}

.headerLeft {
  display: flex;
  gap: 20px;
}

.user {
  align-self: center;
  color: white;
  height: 100%;
  font-size: 16px;
  background: transparent;
  border: 1px solid white;
  border-radius: 8px;
  background-color: rgba(17, 28, 51, 0.6);
  padding: 4px;
}

.user a {
  color: white;
}

.user:hover {
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
}
