.wr {
  background: white;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 0 10px 10px white;
}

.footer_container {
  display: flex;
  justify-content: center;
}

.footer_group {
  margin-right: 80px;
}

.footer_copyright {
  margin-top: 10px;
  text-align: center;
  opacity: 0.5;
}

.footer_group h5 {
  font-size: 16px;
  opacity: 0.7;
  margin-bottom: 20px;
}

.footer_links {
  display: flex;
  flex-direction: column;
}

.footer_links a {
  margin-bottom: 2px;
  color: rgba(17, 28, 51, 0.9);
}

.footer_links a:hover {
  text-shadow: 0 0 3px rgba(17, 28, 51, 0.5);
}
