.search {
  display: flex;
  gap: 10px;
}

.search > label {
  color: white;
  text-shadow: none;
  align-self: center;
}

.wr {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 36px;
  left: 290px;
  z-index: 1;
}

.input {
  border: 1px solid white;
  background: rgba(17, 28, 51, 0.6);
  color: white;
  height: 35px;
}

.input::placeholder {
  color: white;
  opacity: 0.4;
}
