.errorMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errorMessage button {
  margin-top: 10px;
  border: 1px solid;
  border-radius: 10px;
  background: white;
}

.errorMessage button:hover {
  box-shadow: 0 0 10px 5px rgba(17, 28, 51, 0.9);
}

.productsList {
  display: grid;
  gap: 20px;
  justify-content: center;
  align-items: baseline;
  grid-template-columns: repeat(4, auto);
  margin-bottom: 26px;
  margin-top: 14px;
}

.btnSortContainer {
  display: flex;
  border-radius: 6px;
  box-shadow: 0px 0px 6px 6px white;
  background-color: white;
  height: 28px;
  gap: 14px;
}

.btnPrice {
  display: flex;
  gap: 6px;
}

.btnDiscount {
  display: flex;
  gap: 6px;
}

.btnName {
  display: flex;
  gap: 6px;
}

.btnSortWr {
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  top: 113px;
  z-index: 1;
}

.btnSort {
  border: none;
  background-color: rgba(17, 28, 51, 0.6);
  color: white;
  height: fit-content;
}

.btnSort:hover {
  color: black;
}

.btnSort:focus {
  color: black;
  background-color: skyblue;
}
